<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Latest captures</title>
  </head>
  <body>
    <%= headers.host %>
    <% doc.forEach(function(item){ %>
     <img src="http://localhost:8000/images/<%= item.image_name %>" style="height: 300px; ">
    <% }); %>

  </body>
</html>
