<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Latest captures</title>
  </head>
  <body>
      <img src="https://<%= headers.host %>/images/<%= latestDoc[0].image_name %>" style="width: 500px; ">
  </body>
</html>
